@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* ////////////// ESTILIZAÇÂO DESKTOP ELEMENTOS CRIADOS PELO JS //////////////////////// */
#popUp {
    margin-top: 20vh;
    position: absolute;
    width: 40vw;
    height: 40vh;
    background-color: #b3b3b3;
    border-radius: 2vh;
    border: solid 1vh rgb(182, 3, 3);
}

#divBtnClose {
    justify-content: center;
    align-items: center;
    height: 6vh;
}

#divTextSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

#textSpan {
    width: 30vw;
    height: 20vh;
    text-align: center;
    font-size: 4vh;
}

#btnClose {
    border-radius: 1vh;
    width: 3vw;
    height: 5vh;
}

/* /////////////////////// Corpo geral da página ///////////////////////// */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

.displayFlex {
    display: flex;
}

.directionColumn {
    flex-direction: column;
}

body {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #272727;
}

.container {
    justify-content: space-between;
    align-items: center;
    border-radius: 2vh;
    width: 90vw;
    height: 96vh;
    background-color: #000;
    padding: 0.5rem;
}

/* /////////////////////// Topo da Página ////////////////////////////  */
#logo{
    margin-top: -1.5rem;
    width: 5vw;
    border-radius: 5vh;

}
.divTextoTopo {
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

h1 {
    text-align: center;
    font-size: 3.5vh;
    color: #128b16;
}

.textoDescritivo {
    width: 80vw;
    height: 13vh;
    text-align: center;
    font-size: 2.5vh;
    color: #128b16;
}

/* ////////////////////////////// Conteúdo Principal //////////////////////////*/
form {
    width: 45vw;
    height: 68vh;
    align-items: center;
}

#divSelect {
    justify-content: end;
    height: 10vh;
}

#selectTipoCript {
    cursor: pointer;
    border-radius: 1vh;
    width: 12vw;
    height: 5vh;
    margin-bottom: 1vh;
    background-color: #494949;
    color: #92b493;
    font-size: 2.5vh;
}

#incremento {
    display: none;
    color: #128b16;
}

#incremento input {
    background-color: #494949;
    border-radius: 1vh;
    color: #92b493;
    font-size: 2.5vh;
}

#opcoesTopo {
    align-items: flex-end;
    padding-bottom: 2vh;
    height: 12vh;
    width: 45vw;
    justify-content: space-between;
}

.opcoesProcess {
    display: none;
    width: 20vw;
    justify-content: space-around;
    color: #128b16;
}

.opcao {
    
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
}

#textoInicial {
    margin-top: auto;
    width: 45vw;
    height: 25vh;
    resize: none;
    border-radius: 2vh;
    background-color: #494949;
    color: #92b493;
    font-size: 3vh;
}

#labelTextoInicial,
#labelTextoFinal {
    color: #128b16;
}

#textoFinal {
    width: 45vw;
    height: 25vh;
    border-radius: 2vh;
    background-color: white;
    margin-top: auto;
    background-color: #494949;
    color: #92b493;
    padding: 5px;
    font-size: 3vh;
    resize: none;
}

.divButton {
    justify-content: end;
    align-items: center;
    width: 40vw;
    height: 8vh;
}

#button {
    display: none;
    cursor: pointer;
    width: 10vw;
    height: 6vh;
    border-radius: 1vh;
    border: none;
    background-color: #224129;
    color: #92b493;
    font-size: 2.5vh;
}
footer{
    height: 1vh;
    font-size: 1vh;
}

/* Exibição para dispositivos Mobile */
@media screen and (max-width: 1024px) {
/* ////////////// ESTILIZAÇÂO MOBILE ELEMENTOS CRIADOS PELO JS //////////////////////// */
    #popUp {
        width: 85vw;
        height: 30vh;
    }
    
    #textSpan {
        width: 85vw;
        font-size: 3vh;
    }
    
    #btnClose {
        width: 15vw;
        height: 5vh;
    }

/* /////////////////////// Topo da Página Nobile ////////////////////////////  */
#logo{
    margin-top: -1rem;
    width: 15vw;
    border-radius: 5vh;

}    

    h1 {
        font-size: 2.5vh;
    }

    .textoDescritivo {
        width: 90vw;
        height: 15vh;
        text-align: center;
        font-size: 1.5vh;
        color: #128b16;
    }

    /* ////////////////////////////// Conteúdo Principal Mobile //////////////////////////*/
    #selectTipoCript {
        width: 30vw;
        height: 5vh;
        font-size: 1.5vh;
    }
    #incremento{
        width: 35vw;
    }

    #incremento label {
        font-size: 1.8vh;
    }

    #opcoesTopo {
        width: 85vw;
        height: 20vh;
    }

    .opcoesProcess {
        width: 45vw;
    }

    .opcao {
        width: 25vw;
        align-items: center;
        font-size: 1.6vh;
    }

    #textoInicial,
    #textoFinal {
        width: 85vw;
    }
    
    .divButton {
        width: 85vw;
    }

    #button {
        cursor: pointer;
        width: 25vw;
        font-size: 2vh;
    }
    /* /////////////////// Rodapé Página Mobile */
    footer{
        font-size: 1.5vh;
    }

}